.encodeOptions {
    div {
        margin: 15px 0 15px 0;
    }

    select {
        margin-right: 10px;
        padding: 3px 10px 3px 10px;
        border: 1px solid grey;
        border-radius: 0;
        width: 20ch;

        background-color: white;
        font-size: 1em;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        width: 18px;
        height: 18px;
    }

    
}