:root {
  --green: #439a00;
  --green2: hsl(94, 100%, 23%, .5);
  --green1: hsl(94, 100%, 17.5%);

  --white3: rgb(255, 255, 255, .3);

  --grey9: hsl(131, 0%, 90%);
  --grey8: hsl(131, 0%, 80%);
  --grey7: hsl(131, 0%, 70%);
  --grey6: hsl(131, 0%, 60%);
  --grey5: hsl(131, 0%, 50%);
  --grey4: hsl(131, 0%, 40%);
  --grey3: hsl(131, 0%, 30%);
  --grey2: hsl(131, 0%, 20%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ins {
    display: block;
    margin-top: 10px;
    height: 100px;
    line-height: 100px;

    background-color: var(--green2);
    text-align: center;

}

button {
  cursor: pointer;
}


